<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Simple Express Form Results</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Application Complete</h1>
            <p>
                <%= userData.name %>, thanks for completing this simple express form
              </p>
        </div>


        <footer class="footer">
            <p>&copy;
                <%= new Date().getUTCFullYear() %> mrarlloyd's examples, Inc</p>
        </footer>
    </div>
    <!-- /container -->

</body>

</html>
